<ion-header [translucent]="true">
  <ion-toolbar class="perfume-toolbar">
    <ion-title class="title">Explorando el Mundo de los Perfumes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="perfume-content">
  <ion-header collapse="condense">
    <ion-toolbar class="perfume-toolbar">
      <ion-title size="large">Navegando por las Fragancias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center; margin-top: 20px;">
    <h2 style="font-weight: bold; color: #2d3e50;">Descubre tus Fragancias Favoritas 💖</h2>
    <p style="color: #5a6d7f; font-size: 18px;">Explora una amplia variedad de perfumes, desde florales hasta amaderados, y encuentra el aroma perfecto para ti.</p>
    <h2 style="font-weight: bold; color: #2d3e50;">Hola mundo 💖</h2>
  </div>
</ion-content>